
$light-gray: #eceef1;
$gray: darken(#eceef1, 30%);
$slate: darken(#eceef1, 70%);
$turquoise: #1abc9c;

$main-color-gray-opacity: darken(#1e1e1e, 50%);;
$main-color-gray: #1e1e1e;
$red: #DD2018;
$white: white;

.logo{
  text-align: center;

  img{
      margin-top:20px; 
      margin-bottom:40px;
      height: 100px;
      width: 300px;
  } 
}


.icon-bar-admin {
  position: fixed;
  margin-top: 20px;
  z-index: 2;
  a {
    position: relative;
    left: -70px;
    width: 150px;
    transition: 0.3s;
  height: auto;
  background-color: $main-color-gray-opacity;
  opacity: 0.8;
  border: $white solid 1px;

      display: block;
      text-align: left;
      
      text-decoration: none;
      transition: all 0.3s ease;
      color: $white;
      font-size: 30px;
      cursor: pointer;
      padding: 5px;

      #so{
        margin-right: 30px;
        font-size: 15px;
        display: inline-block;
      }
      #ho{
        margin-right: 50px;
        font-size: 15px;
        display: inline-block;
      }

  }
}

.icon-bar-admin a:hover {
  background-color: $red;
  left: 0;
}




.active {
 //background-color: $red !important;
}





// *{
//   box-sizing: border-box;
// }

// .nav-cntainer{
//   width: 100%;
//   padding: 0%;
//   position: fixed;
//   z-index: 1;

//     .nav-cntents{
//         background-color: rgb(250, 246, 246);
//         border-radius: 0% ; 
//         padding: 3px; 

//         .dt{
//           .crd-img{
//             width: 30px;
//             border-radius: 100px;
//           }
//         }
//     }
// }

// .sidenav {
//   height: 100%;
//   width: 75px;
//   position: fixed;
//   top: 0;
//   left: 0;
//   background-color: #111;
//   overflow-x: hidden;
//   padding-top: 20px;
//   z-index: 1;
//     a {
//       padding: 6px 8px 6px 16px;
//       text-decoration: none;
//       font-size: 25px;
//       color: #818181;
//       display: block;
//     }
// }

// .sidenav a:hover {
//   color: #f1f1f1;
// }


//BODY
.main-row{
  width: 100%;
  height: auto;
  margin:0;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .user-img{
      display: inline-flex;
      flex-flow: row wrap;
      background-color: $white;
      margin: auto;
      max-width: 83%;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;

      .crds{
          display: block;
          margin-left: auto;
          margin-right: auto;
             
          .selectuser{
              border: none;
              background-color: $white;
              outline-style: none;
              
              .crds2{
                  border: #1e1e1e1f solid 1px;
                  height: 252px;
                  width: 252px;
                  border-radius: 8px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  margin-bottom: 10px;

                  .im-con{
                   
                   // background-color: black;
                    height: 100px;
                    width: 100px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-bottom:30px;

                      .ann-img{
                        height:100%;
                        width:100%;
                        object-fit: cover;
                    }



                      
                  }

                  .addim-con{
                   
                    // background-color: black;
                     height: 100px;
                     width: 100px;
                     overflow: hidden;
                    
                     margin-bottom:30px;
 
                     .user{
                      height:100%;
                      width:100%;
                      object-fit: cover;
                      font-size: 90px;
                      color: black;
                  }

                    }

                  .p-con{
                      height: auto;

                      #usr{
                          padding: 0;
                          margin: 0;
                          font-size: 14px;
                          text-transform: capitalize;
                          color: #0c0c0c;
                      }

                      #ps{
                          padding: 0;
                          margin: 0;
                          font-size: 12px;
                          text-transform: capitalize;
                          color: #aaaaaa;
                      }
                  } 
              }
              .crds2:hover{
                background-color: #1e1e1e28;
                
                transition: 0.2s;

               
              }
          }
      }

     
  } 

  .rem-box{
      padding:0; 
      background-color: rgb(44, 43, 43);
      height: auto;
      padding-top: 50px;
      padding-left: 10px; 
      padding-right: 10px; 

      .reminder{

          #rem{
              color: #eceef1;
              font-size: 200%;
          } 
      }
  }

  h5{
      font-size: 40px;
      float: left;
  }




  
 

}




.sign-up-modal{
  width: 100%;
margin: 0%;


  .modal-content{
    padding: 0%;
    border: none;
box-shadow: none;
    
  }
}