
$sidenav-gray-color: darken(#1e1e1e, 50%);
$hover-gray-color:rgba( #1e1e1e, 0.1 );
$light-gray-color:rgba( #1e1e1e, .3 );
$medium-gray-color:rgba( #1e1e1e, .7 );
$dark-gray: #1e1e1e;
$kestrel-red: #D9231E;
$dark-red: hsl(7, 100%, 15%);
$white: rgb(255, 255, 255);
.ui-datepicker{
    position: relative; 
    z-index: 10000 !important; 
} 



.logo{
    text-align: right;
   
    img{
    z-index: 2;
    margin-top:20px; 
    // margin-bottom:50px;
    height: 87px;
    width: 274px;
    }

}

h6{
    text-align: right;
    padding-right: 38px;
}

.icon-bar-admin-report {
    position: fixed;
    margin-top: 20px;
    z-index: 2;

    a {
        position: relative;
        left: -67px;
        width: 136px;
        transition: 0.3s;
        height: auto;
        background-color: $sidenav-gray-color;
        opacity: 0.8;
        border: $white solid 1px;
        display: block;
        text-align: left;
        text-decoration: none;
        transition: all 0.3s ease;
        color: $white;
        font-size: 30px;
        cursor: pointer;
        padding: 5px;
  
        #bck{
            margin-right: 35px;
            font-size: 15px;
            display: inline-block;
        }
    } 
}
  
.icon-bar-admin-report a:hover {
    background-color: $kestrel-red;
    left: 0;
    color: $white;
}




//END/FOR ICON

.prof-main-cont-report{
    margin-right: 30px !important;
    margin-left: 30px !important;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    .clear-bod{
        text-align: center;

        .msg_cont-reports{
            text-align: left;
        }
       
        .btn-clear{
            background-color: $white;
             color: $dark-gray;
             border: $light-gray-color solid 1px !important;
             //border-top: $light-gray-color solid 1px !important;
             border: none;
             border-radius: 0%;
             text-align: center;
             font-size: 15px;
             width: 200px;
             z-index:0;
             display:inline-block;
             position:relative;
             cursor:pointer;
             outline: 0;
             margin: 0px 0px 15px 0px;
         }

         .btn-clear:hover{
             color: $white;
             transition: 0.4s;
             background-color: $kestrel-red;
         }
         
    }
    
    

    .content2{
        display: flex;
        flex-direction: row;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        
    .icon-outside{
        margin:47px 11px 0px 50px;
    }

    .btn-filter{
        background-color: $white;
        color: $dark-gray;
        border-bottom: $light-gray-color solid 1px !important;
        border: none;
        border-radius: 0%;
        text-align: center;
        font-size: 15px;
        z-index:0;
        display:inline-block;
        position:relative;
        cursor:pointer;
        height: 33px;
        outline:none;
        width: 227px;
        margin: 0px 29px 0px 0px;
    }

    .btn-filter:hover{
        color: $white;
        transition: 0.4s;
        background-color: $kestrel-red;
    }

    .btn-refresh{
        background-color: $white;
        color: $dark-gray;
        border: $light-gray-color solid 1px !important;
        // border: none;
        border-radius: 0%;
        text-align: center;
        font-size: 15px;
        z-index:0;
        display:inline-block;
        position:relative;
        cursor:pointer;
        height: 33px;
        width: 120px;
        outline:none;


    }

    .btn-refresh:hover{
        color: $kestrel-red;
        transition: 0.4s;
        // background-color: $kestrel-red;
    }

    .btn-download{
        background-color: $white;
            color: $dark-gray;
            border-bottom: $light-gray-color solid 1px !important;
            border: none;
            border-radius: 0%;
            text-align: center;
            font-size: 15px;
            z-index:0;
            display:inline-block;
            position:relative;
            cursor:pointer;
            height: 33px;
            width: 376px;
            outline:none;
    }

    .btn-download:hover{
       color: $white;
       transition: 0.4s;
       background-color: $kestrel-red;
        
    }

    .fld{
        width: 230px;
        height: 50px;
    margin-top: 5px;

        .dropdown-filter{
            width: 163%;
        }
     

        // .btn-dwnload{
        //     background-color: $white;
        //     color: $dark-gray;
        //     border-bottom: $light-gray-color solid 1px !important;
        //     border: none;
        //     border-radius: 0%;
        //     text-align: center;
        //     font-size: 15px;
        //     z-index:0;
        //     display:inline-block;
        //     position:relative;
        //     cursor:pointer;
        //     height: 33px;
        //     width: 203px;
           
        // }

        // .btn-dwnload:hover{
        //     color: $kestrel-red;
        //     transition: 0.3s;
            
        // }

        .btn-download{
            background-color: $white;
                color: $dark-gray;
                border-bottom: $light-gray-color solid 1px !important;
                border: none;
                border-radius: 0%;
                text-align: center;
                font-size: 15px;
                z-index:0;
                display:inline-block;
                position:relative;
                cursor:pointer;
                height: 33px;
                width: 376px;
                outline:none;
        }

        .btn-download:hover{
           color: $white;
           transition: 0.4s;
           background-color: $kestrel-red;
            
        }

        .input {
            position: relative;
            z-index: 2;
            display: inline-block;
            width: calc(176% - 2em);
            vertical-align: top;
            padding-left: 24px;
        }

        .input__field {
        
        
            position: relative;
            display: block;
            float: right;
            padding: 2px;
            width: 150%;
            border: none;
            border-radius: 0;
            font-size: 20px;
            -webkit-appearance: none; /* for box shadows to show on iOS */
        
        }

        .input__field:focus {
            outline: none;
        }


        .lck{
            text-align: left;
            z-index: 2;
        
            .lck_icon{
                font-size: 20px;
                color:  $dark-gray;
                
                }
                
            
        }


        /* Hoshi */
        .input--hoshi {
            overflow: hidden;
        
        }
        
        .input__field--hoshi {
            // margin-top: 1em;
            padding: 0px 0px 15px 0px;;
            width: 100%;
            background: transparent;
            color: $dark-gray;
            margin-bottom: 0;
            //padding-left: 24px;
            
            
        }
        
        .input__label--hoshi {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: calc(117% - 1em);
            text-align: left;
            pointer-events: none;
            z-index: 2;
        
        
        //font-size: 30px;
        }
        
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $light-gray-color;
            opacity: 1; /* Firefox */
        }
        
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $light-gray-color;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: $light-gray-color;
        }
        
        
        .input__label--hoshi::before,
        .input__label--hoshi::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 10px);
            border-bottom: 1px solid $light-gray-color;
        
        }
        
        .input__label--hoshi::after {
            // margin-top: 2px;
            border-bottom: 4px solid;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
        }
        
        .input__label--hoshi-color-1::after {
            border-bottom: 1.5px solid  $dark-red;
        }
        
        
        
        .input__field--hoshi:focus + .input__label--hoshi::after,
        .input--filled .input__label--hoshi::after {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        
        .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
        .input--filled .input__label-content--hoshi {
            -webkit-animation: anim-1 0.3s forwards;
            animation: anim-1 0.3s forwards;
        }
        
        @-webkit-keyframes anim-1 {
            50% {
                opacity: 0;
                -webkit-transform: translate3d(1em, 0, 0);
                transform: translate3d(1em, 0, 0);
            }
            51% {
                opacity: 0;
                -webkit-transform: translate3d(-1em, -40%, 0);
                transform: translate3d(-1em, -40%, 0);
            }
            100% {
                opacity: 1;
                -webkit-transform: translate3d(0, -40%, 0);
                transform: translate3d(0, -40%, 0);
            }
        }
        
        @keyframes anim-1 {
            50% {
                opacity: 0;
                -webkit-transform: translate3d(1em, 0, 0);
                transform: translate3d(1em, 0, 0);
            }
            51% {
                opacity: 0;
                -webkit-transform: translate3d(-1em, -40%, 0);
                transform: translate3d(-1em, -40%, 0);
            }
            100% {
                opacity: 1;
                -webkit-transform: translate3d(0, -40%, 0);
                transform: translate3d(0, -40%, 0);
            }
        }
    }
}




    .clear_dwnload_btn{
        width: 100%;
         white-space: nowrap;
         overflow: hidden;
         display: flex;
         flex-direction: row;
     
   
         .icon-outside{
             margin:47px 11px 0px 50px;
         }

         .fld{
            width: 223px;
             height: 50px;

             .btn-filter{
                 background-color: $white;
                 color: $dark-gray;
                 border-bottom: $light-gray-color solid 1px !important;
                 border: none;
                 border-radius: 0%;
                 text-align: center;
                 font-size: 15px;
                 z-index:0;
                 display:inline-block;
                 position:relative;
                 cursor:pointer;
                 height: 28px;
                 margin-right: 0px !important;
         
             }

             .btn-filter:hover{
                 color: $kestrel-red;
                 transition: 0.3s;
             }

            //  .btn-dwnload{
            //      background-color: $white;
            //      color: $dark-gray;
            //      border-bottom: $light-gray-color solid 1px !important;
            //      border: none;
            //      border-radius: 0%;
            //      text-align: center;
            //      font-size: 15px;
            //      z-index:0;
            //      display:inline-block;
            //      position:relative;
            //      cursor:pointer;
            //      height: 33px;
            //  }

            //  .btn-dwnload:hover{
            //     color: $white;
            //     transition: 0.4s;
            //     background-color: $kestrel-red;
                 
            //  }

            // .btn-download{
            //     background-color: $white;
            //                 color: $dark-gray;
            //                 border-bottom: $light-gray-color solid 1px !important;
            //                 border-top: $light-gray-color solid 1px !important;
            //                 border: none;
            //                 border-radius: 0%;
            //                 text-align: center;
            //                 font-size: 15px;
            //                 width: 200px;
            //                 z-index:0;
            //                 display:inline-block;
            //                 position:relative;
            //                 cursor:pointer;
            //                 outline: 0;
                        
            
            // }
            // .btn-download:hover{
            //     color: $white;
            //     transition: 0.4s;
            //     background-color: $kestrel-red;
            // }

             .input {
                 position: relative;
                 z-index: 2;
                 display: inline-block;
                 width: calc(255% - 2em);
                 vertical-align: top;
                 padding-left: 24px;
             }
     
             .input__field {
             
             
                 position: relative;
                 display: block;
                 float: right;
                 padding: 2px;
                 width: 150%;
                 border: none;
                 border-radius: 0;
                 font-size: 20px;
                 -webkit-appearance: none; /* for box shadows to show on iOS */
             
             }
     
             .input__field:focus {
                 outline: none;
             }
     
     
             .lck{
                 text-align: left;
                 z-index: 2;
             
                 .lck_icon{
                     font-size: 20px;
                     color:  $dark-gray;
                     
                     }
                     
                 
             }
     
     
             /* Hoshi */
             .input--hoshi {
                 overflow: hidden;
             
             }
             
             .input__field--hoshi {
                 // margin-top: 1em;
                 padding: 0px 0px 15px 0px;;
                 width: 100%;
                 background: transparent;
                 color: $dark-gray;
                 margin-bottom: 0;
                 //padding-left: 24px;
                 
                 
             }
             
             .input__label--hoshi {
                 position: absolute;
                 bottom: 0;
                 left: 0;
                 width: 100%;
                 height: calc(117% - 1em);
                 text-align: left;
                 pointer-events: none;
                 z-index: 2;
             
             
             //font-size: 30px;
             }
             
             ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                 color: $light-gray-color;
                 opacity: 1; /* Firefox */
             }
             
             :-ms-input-placeholder { /* Internet Explorer 10-11 */
                 color: $light-gray-color;
             }
             
             ::-ms-input-placeholder { /* Microsoft Edge */
                 color: $light-gray-color;
             }
             
             
             .input__label--hoshi::before,
             .input__label--hoshi::after {
                 content: '';
                 position: absolute;
                 top: 0;
                 left: 0;
                 width: 100%;
                 height: calc(100% - 10px);
                 border-bottom: 1px solid $light-gray-color;
             
             }
             
             .input__label--hoshi::after {
                 // margin-top: 2px;
                 border-bottom: 4px solid;
                 -webkit-transform: translate3d(-100%, 0, 0);
                 transform: translate3d(-100%, 0, 0);
                 -webkit-transition: -webkit-transform 0.3s;
                 transition: transform 0.3s;
             }
             
             .input__label--hoshi-color-1::after {
                 border-bottom: 1.5px solid  $dark-red;
             }
             
             
             
             .input__field--hoshi:focus + .input__label--hoshi::after,
             .input--filled .input__label--hoshi::after {
                 -webkit-transform: translate3d(0, 0, 0);
                 transform: translate3d(0, 0, 0);
             }
             
             .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
             .input--filled .input__label-content--hoshi {
                 -webkit-animation: anim-1 0.3s forwards;
                 animation: anim-1 0.3s forwards;
             }
             
             @-webkit-keyframes anim-1 {
                 50% {
                     opacity: 0;
                     -webkit-transform: translate3d(1em, 0, 0);
                     transform: translate3d(1em, 0, 0);
                 }
                 51% {
                     opacity: 0;
                     -webkit-transform: translate3d(-1em, -40%, 0);
                     transform: translate3d(-1em, -40%, 0);
                 }
                 100% {
                     opacity: 1;
                     -webkit-transform: translate3d(0, -40%, 0);
                     transform: translate3d(0, -40%, 0);
                 }
             }
             
             @keyframes anim-1 {
                 50% {
                     opacity: 0;
                     -webkit-transform: translate3d(1em, 0, 0);
                     transform: translate3d(1em, 0, 0);
                 }
                 51% {
                     opacity: 0;
                     -webkit-transform: translate3d(-1em, -40%, 0);
                     transform: translate3d(-1em, -40%, 0);
                 }
                 100% {
                     opacity: 1;
                     -webkit-transform: translate3d(0, -40%, 0);
                     transform: translate3d(0, -40%, 0);
                 }
             }
         }

         .clear-rep{
             background-color: $white;
             color: $dark-gray;
             border-bottom: $light-gray-color solid 1px !important;
            //  border-top: $light-gray-color solid 1px !important;
             border: none;
            outline: none;
             border-radius: 0%;
             text-align: center;
             font-size: 15px;
             width: 200px;
             z-index:0;
             display:inline-block;
             position:relative;
             cursor:pointer;
             outline: 0;
             margin: 0px 15px 15px 0px;
         }

         .clear-rep:hover{
             color: $white;
             transition: 0.4s;
             background-color: $kestrel-red;
         }


         .backup-rep{
            background-color: $white;
            color: $dark-gray;
            border-bottom: $light-gray-color solid 1px !important;
            // border-top: $light-gray-color solid 1px !important;
            border: none;
            outline: none;
            border-radius: 0%;
            text-align: center;
            font-size: 15px;
            width: 161px;
            z-index:0;
            display:inline-block;
            position:relative;
            cursor:pointer;
            outline: 0;
            margin: 0px 0px 15px 0px;
        }

        .backup-rep:hover{
            color: $white;
            transition: 0.4s;
            background-color: $kestrel-red;
        }

       
     }






    .report-data-box{
        width: 90%;
   
        padding: 0;

        .report-data-box-two{
        
            width: 100%;
            display: flex;
            flex-direction: column;
            
       
    }
}
    

.content{
    display: flex;
    flex-direction: row;
    width: 80%;
  
    .fld{
        width: 435px;
        height: 50px;
    

        
    // .btn-download{
    //     background-color: $white;
    //                 color: $dark-gray;
    //                 border-bottom: $light-gray-color solid 1px !important;
    //                 border-top: $light-gray-color solid 1px !important;
    //                 border: none;
    //                 border-radius: 0%;
    //                 text-align: center;
    //                 font-size: 15px;
    //                 width: 200px;
    //                 z-index:0;
    //                 display:inline-block;
    //                 position:relative;
    //                 cursor:pointer;
    //                 outline: 0;
                
    
    // }
    // .btn-download:hover{
    //     color: $white;
    //     transition: 0.4s;
    //     background-color: $kestrel-red;
    // }

        .input {
            position: relative;
            z-index: 2;
            display: inline-block;
            width: calc(120% - 2em);
            vertical-align: top;
            padding-left: 24px;
        }
        
        .input__field {
    
            position: relative;
            display: block;
            float: right;
            padding: 2px;
            width: 150%;
            border: none;
            border-radius: 0;
            font-size: 20px;
            -webkit-appearance: none; /* for box shadows to show on iOS */
          
        }
        
        .input__field:focus {
            outline: none;
        }
        
        
        .lck{
            text-align: left;
            z-index: 2;
        
            .lck_icon{
                font-size: 20px;
                color:  $light-gray-color;
                
            }  
        }
        
        
        /* Hoshi */
        .input--hoshi {
            overflow: hidden;
           
        }
        
        .input__field--hoshi {
          
            padding: 0px 0px 10px 0px;
            width: 100%;
            background: transparent;
            color: $dark-gray;
            margin-bottom: 0;
            //padding-left: 24px;
            
            
        }
        
        .input__label--hoshi {
            position: absolute;
            bottom: 0;
            left: 0;
            // /padding: 0 0.25em;
            width: 100%;
            height: calc(145% - 1em);
            text-align: left;
            pointer-events: none;
            z-index: 2;
         
          
           //font-size: 30px;
        }
        
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $light-gray-color;
            opacity: 1; /* Firefox */
        }
        
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $light-gray-color;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: $light-gray-color;
        }
        
        
        .input__label--hoshi::before,
        .input__label--hoshi::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 10px);
        
            border-bottom: 1px solid $light-gray-color;
           
        }
        
        .input__label--hoshi::after {
            // margin-top: 2px;
            border-bottom: 4px solid;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
        }
        
        .input__label--hoshi-color-1::after {
            border-bottom: 1.5px solid  $dark-red;
        }
        
        
        
        .input__field--hoshi:focus + .input__label--hoshi::after,
        .input--filled .input__label--hoshi::after {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        
        .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
        .input--filled .input__label-content--hoshi {
            -webkit-animation: anim-1 0.3s forwards;
            animation: anim-1 0.3s forwards;
        }
        
        @-webkit-keyframes anim-1 {
            50% {
                opacity: 0;
                -webkit-transform: translate3d(1em, 0, 0);
                transform: translate3d(1em, 0, 0);
            }
            51% {
                opacity: 0;
                -webkit-transform: translate3d(-1em, -40%, 0);
                transform: translate3d(-1em, -40%, 0);
            }
            100% {
                opacity: 1;
                -webkit-transform: translate3d(0, -40%, 0);
                transform: translate3d(0, -40%, 0);
            }
        }
        
        @keyframes anim-1 {
            50% {
                opacity: 0;
                -webkit-transform: translate3d(1em, 0, 0);
                transform: translate3d(1em, 0, 0);
            }
            51% {
                opacity: 0;
                -webkit-transform: translate3d(-1em, -40%, 0);
                transform: translate3d(-1em, -40%, 0);
            }
            100% {
                opacity: 1;
                -webkit-transform: translate3d(0, -40%, 0);
                transform: translate3d(0, -40%, 0);
            }
        }  
    }
}


// .report-data-box-table{
//     padding: 0;
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;

          
    .table-responsive{
        width: 100%;
        min-height: 20vh;
        margin-top: 10px;
            
        #table{
            width: 100%;
            border-collapse: collapse;
              
            thead{
                width: 100%;
                display: block;
                
                tr{

                    th{
                        background-color: $light-gray-color;
                        width: 20%;
                        // border: 1px solid $white;
                        padding: 8px;
    
                    }
                }
            }

            tbody{
                overflow-y: scroll;
                overflow-x: hidden;
                display: block;
                max-height: 345px;
                width: 100%;

                td{
                    // border: 1px solid $light-gray-color;
                    padding: 8px;
                    background-color: $white;
                    width: 20%;
                        
                    }
    
    
                
              

                

            }
           
        }


        }


    // }
        
        
   
        
    }

    .footer-report {
        margin-top: 93px;
        margin-bottom: 10px;
        left: 0;
        width: 100%;
        color: $light-gray-color;
        text-align: center;
        position: fixed;
        bottom:0;
    
     }
 .edit-view-announcement{
            font-size: 10px;
            text-decoration: none;
            color: $dark-gray;
            float: right;
            margin: 0 !important;

            
        }

        .edit-view-announcement:hover{
            color: $kestrel-red;
        }