
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

.content{
	display: flex;
    flex-direction: row;
	justify-content: center;

  
.lck{
	
	margin-top: 61px;
	text-align: left;
	z-index: 2;

		.lck_icon{
			// width: 20px;
			// height: 20px;
			font-size: 20px;
			color:  #1e1e1e;
		
		}
		
	
}


.fld{
	//float: left;
	width: 500px;
	height: 50px;
	//background-color: rgb(15, 77, 233);
/* Component Start */

.input {
	position: relative;
	z-index: 2;
	display: inline-block;
	//margin: 1em;
	//max-width: 400px;
	width: calc(70% - 2em);
	vertical-align: top;
	 
   
}

.input__field {

  
	position: relative;
	display: block;
	float: right;
	padding: 2px;
	width: 150%;
	border: none;
	border-radius: 0;

   // font-weight: bold;
    font-size: 20px;
    -webkit-appearance: none; /* for box shadows to show on iOS */
  
}

.input__field:focus {
	outline: none;
}





/* Individual styles */



/* Hoshi */
.input--hoshi {
    overflow: hidden;
   
}

.input__field--hoshi {
	margin-top: 1em;
	padding: 0.85em 0.10em;
	width: 100%;
	background: transparent;
	color: #1e1e1e;
	margin-bottom: 0;
	padding-left: 24px;
    
    
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	// /padding: 0 0.25em;
	width: 100%;
	height: calc(135% - 1em);
	text-align: left;
	pointer-events: none;
	z-index: 2;
 
  
   //font-size: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1e1e1e1f;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1e1e1e1f;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #1e1e1e1f;
}

// .input__label-content--hoshi {
// 	position: absolute;
// }

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);

    border-bottom: 1px solid #1e1e1e1f;
   
}

.input__label--hoshi::after {
	margin-top: 2px;
	border-bottom: 4px solid;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
	border-color: hsl(7, 100%, 15%);
}



.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

}









.fld1{
	//float: left;
	width: 900px;
	height: 50px;
	//background-color: rgb(15, 77, 233);
/* Component Start */
.input {
	position: relative;
	z-index: 2;
	display: inline-block;
	//margin: 1em;
	//max-width: 400px;
	width: calc(102% - 2em);
	vertical-align: top;
	 
   
}

.input__field {

  
	position: relative;
	display: block;
	float: right;
	padding: 2px;
	width: 150%;
	border: none;
	border-radius: 0;

   // font-weight: bold;
    font-size: 20px;
    -webkit-appearance: none; /* for box shadows to show on iOS */
  
}

.input__field:focus {
	outline: none;
}





/* Individual styles */



/* Hoshi */
.input--hoshi {
    overflow: hidden;
   
}

.input__field--hoshi {
	margin-top: 1em;
	padding: 0.85em 0.10em;
	width: 100%;
	background: transparent;
	color: #1e1e1e;
	margin-bottom: 0;
	padding-left: 24px;
    
    
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	// /padding: 0 0.25em;
	width: 100%;
	height: calc(135% - 1em);
	text-align: left;
	pointer-events: none;
	z-index: 2;
 
  
   //font-size: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1e1e1e1f;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1e1e1e1f;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #1e1e1e1f;
}

// .input__label-content--hoshi {
// 	position: absolute;
// }

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);

    border-bottom: 1px solid #1e1e1e1f;
   
}

.input__label--hoshi::after {
	margin-top: 2px;
	border-bottom: 4px solid;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
	border-color: hsl(7, 100%, 15%);
}



.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

}







.fld2{
	//float: left;
	width: 300px;
	height: 50px;

	

/* Component Start */
.input {
	position: relative;
	z-index: 2;
	display: inline-block;
	//margin: 1em;
	//max-width: 400px;
	width: calc(105% - 2em);
	vertical-align: top;


   
}


#USERIMAGE{
	margin-top: 30px;
}
.input__field {

  
	position: relative;
	display: block;
	float: right;
	padding: 2px;
	width: 150%;
	border: none;
	border-radius: 0;


   // font-weight: bold;
    font-size: 20px;
    -webkit-appearance: none; /* for box shadows to show on iOS */
  
}

.input__field:focus {
	outline: none;
}





/* Individual styles */



/* Hoshi */
.input--hoshi {
    overflow: hidden;
   
}

.input__field--hoshi {
	margin-top: 1em;
	padding: 0.85em 0.10em;
	width: 100%;
	background: transparent;
	color: #1e1e1e;
	margin-bottom: 0;
	padding-left: 24px;
    
    
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	// /padding: 0 0.25em;
	width: 100%;
	height: calc(135% - 1em);
	text-align: left;
	pointer-events: none;
	z-index: 2;
 
  
   //font-size: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1e1e1e1f;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1e1e1e1f;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #1e1e1e1f;
}

// .input__label-content--hoshi {
// 	position: absolute;
// }

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);

    border-bottom: 1px solid #1e1e1e1f;
   
}

.input__label--hoshi::after {
	margin-top: 2px;
	border-bottom: 4px solid;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
	border-color: hsl(7, 100%, 15%);
}



.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

}












.fld3{
	//float: left;
	width: 300px;
	height: 50px;
	//background-color: rgb(15, 77, 233);
	margin-top: 30px;
	
/* Component Start */
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	//margin: 1em;
	//max-width: 400px;
	width: calc(105% - 2em);
	vertical-align: top;


}



#USERIMAGE{
	margin-top: 30px;
}
.input__field {

  
	position: relative;
	display: block;
	float: right;
	padding: 2px;
	width: 150%;
	border: none;
	border-radius: 0;


   // font-weight: bold;
    font-size: 20px;
    -webkit-appearance: none; /* for box shadows to show on iOS */
  
}

.input__field:focus {
	outline: none;
}





/* Individual styles */



/* Hoshi */
.input--hoshi {
    overflow: hidden;
   
}

.input__field--hoshi {
	margin-top: 1em;
	padding: 0.85em 0.10em;
	width: 100%;
	background: transparent;
	color: #1e1e1e;
	margin-bottom: 0;
	padding-left: 24px;
    
    
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	// /padding: 0 0.25em;
	width: 100%;
	height: calc(135% - 1em);
	text-align: left;
	pointer-events: none;
	z-index: 2;
 
  
   //font-size: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1e1e1e1f;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1e1e1e1f;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #1e1e1e1f;
}

// .input__label-content--hoshi {
// 	position: absolute;
// }

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);

    border-bottom: 1px solid #1e1e1e1f;
   
}

.input__label--hoshi::after {
	margin-top: 2px;
	border-bottom: 4px solid;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
	border-color: hsl(7, 100%, 15%);
}



.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

}















}







