$sidenav-gray-color: darken(#1e1e1e, 50%);
$hover-gray-color:rgba( #1e1e1e, 0.1 );
$light-gray-color:rgba( #1e1e1e, .3 );
$medium-gray-color:rgba( #1e1e1e, .7 );
$dark-gray: #1e1e1e;
$kestrel-red: #D9231E;
$dark-red: hsl(7, 100%, 15%);
$white: rgb(255, 255, 255);
$green: rgb(199, 238, 231);
$hover-green: rgb(174, 240, 228);

// ---------------------------------INDEX PAGE--------------------------------
body{
    overflow-x: hidden;

    
.search{
    margin-left: 135px;
    .fld2{
        width: 340px;
        height: 50px;

        //INPUT
        .input {
            position: relative;
            z-index: 2;
            display: inline-block;
            width: calc(89% - 2em);
            vertical-align: top;    

           
            //END/FOR WARNING MESSAGE

            //FOR ICON
            .lck{
                margin-top: 11px;
                text-align: left;
                z-index: 2;
                
                .lck_icon{
                    font-size: 20px;
                    color:  $dark-gray;
                }    
            }
            //END/FOR ICON

            

            // FOR BUTTON *hover
        }
        //END/INPUT

        .input__field {
            position: relative;
            display: block;
            float: right;
            padding: 2px;
            width: 150%;
            border: none;
            border-radius: 0;
            font-size: 20px;
            -webkit-appearance: none; /* for box shadows to show on iOS */
        }

        .input__field:focus {
            outline: none;
        }

        /* Individual styles */

        /* Hoshi */
        .input--hoshi {
            overflow: hidden;    
        }

        .input__field--hoshi {
            padding: 1px 0px 15px 0px;
            width: 100%;
            background: transparent;
            color: $dark-gray;
            margin-bottom: 0;
            padding-left: 24px;
        }

        .input__label--hoshi {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: calc(135% - 1em);
            text-align: left;
            pointer-events: none;
            z-index: 2;
        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $light-gray-color;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $light-gray-color;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
            color: $light-gray-color;
        }

        .input__label--hoshi::before,
        .input__label--hoshi::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 10px);
        
            border-bottom: 1px solid $light-gray-color;
        
        }

        .input__label--hoshi::after {
    
            border-bottom: 4px solid;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
        }
        
        .input__label--hoshi-color-1::after {
            // border-color: hsl(7, 100%, 15%);
            border-bottom: 1.5px solid $dark-red;
        }
        
        .input__field--hoshi:focus + .input__label--hoshi::after,
        .input--filled .input__label--hoshi::after {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        
        .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
        .input--filled .input__label-content--hoshi {
            -webkit-animation: anim-1 0.3s forwards;
            animation: anim-1 0.3s forwards;
        }
        
        @-webkit-keyframes anim-1 {
            50% {
                opacity: 0;
                -webkit-transform: translate3d(1em, 0, 0);
                transform: translate3d(1em, 0, 0);
            }
            51% {
                opacity: 0;
                -webkit-transform: translate3d(-1em, -40%, 0);
                transform: translate3d(-1em, -40%, 0);
            }
            100% {
                opacity: 1;
                -webkit-transform: translate3d(0, -40%, 0);
                transform: translate3d(0, -40%, 0);
            }
        }

        @keyframes anim-1 {
            50% {
                opacity: 0;
                -webkit-transform: translate3d(1em, 0, 0);
                transform: translate3d(1em, 0, 0);
            }
            51% {
                opacity: 0;
                -webkit-transform: translate3d(-1em, -40%, 0);
                transform: translate3d(-1em, -40%, 0);
            }
            100% {
                opacity: 1;
                -webkit-transform: translate3d(0, -40%, 0);
                transform: translate3d(0, -40%, 0);
            }
        }

    }

}



//SIDENAV-ICON FOR INDEX
    .icon-bar {
        position: fixed;
        margin-top: 20px;
        z-index: 2;
        
        a {
            position: relative;
            left: -150px;
            width: 230px;
            transition: 0.3s;
            height: auto;
            background-color: $sidenav-gray-color;
            opacity: 0.8;
            border: $white solid 1px;
            display: block;
            text-align: left;
            text-decoration: none;
            transition: all 0.3s ease;
            color: $white;
            font-size: 30px;
            cursor: pointer;
            padding: 5px;
    
            #announcement-nav{
                margin-right: 30px;
                font-size: 15px;
                display: inline-block;
            }
        }
    }
    
    .icon-bar a:hover {
        background-color: $kestrel-red;
        left: 0;
    }

    //END/SIDENAV-ICON FOR INDEX

    //SIDE NAV CONTENT
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: $white;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;

        .ann-card {
            min-height: 10vh;
            height: auto;
            width: 105%;
            background:  $white;
            border-bottom: $light-gray-color solid 1px;
            margin-bottom:1%; 
            padding: 3%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .u-cont{
                display: inline-block;
            
                .im-con{
                    background-color: $white;
                    height: 70px;
                    width: 70px;
                    overflow: hidden;
                    border-radius: 50%;
                    
                    .ann-img{
                        height:100%;
                        width:100%;
                        object-fit: cover;
                    }
                }
                
            }

            
            #ann_name{
                padding: 10px 10px;
                font-size: 20px;
                color: $medium-gray-color;
            }
    
            .a-cont{
                text-align: left;
                width: 100%;
    
                #ann_msg{
                    margin: 0;
                    font-size: 16px; 
                    color: $dark-gray;
                    word-wrap: break-word;    
                }

                #ann_date{
                    margin: 0;
                    font-size:10px; 
                    word-wrap: break-word;
                    float: right;
                    margin-top: 5px;
                    color: $medium-gray-color;
                }
            }        
        }
        
        .closebtn {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            display: block;
            transition: 0.3s;
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
            color: $light-gray-color;
        }

        .closebtn:hover{
            color: $dark-gray;
        }
    }
    //END/SIDE NAV CONTENT

    //SIDE NAV OVERLAY
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $dark-gray;
        opacity: 0.8;
        z-index: 2;
        cursor: pointer;
        transition: 0.5s;
    }
    //END/SIDE NAV OVERLAY


    //FOR CLOCK AND DATE
    .clockdate-wrapper {
        padding-top: 20px;
        padding-right: 20px;
        position: absolute;
        z-index: -1;
        width:100%;
        text-align:right;

        //CLOCK
        #clock{
            font-family: sans-serif;
            font-size:30px;
            text-shadow:0px 0px 1px $white;
            color: $dark-red;
        }
    
        #clock span {
            font-size:30px;
        }
        //END/CLOCK
    
        //DATE
        #date {
            font-size:15px;
            font-family:arial,sans-serif;
            color: $dark-red;
        }
        //END/DATE
    }
    //END/FOR CLOCK AND DATE

    //FOR LOGO
    .logo{
        text-align: center;
        img{
            margin-top:20px; 
            margin-bottom:50px;
            height: 100px;
            width: 300px;
        } 
    }
    //END/FOR LOGO
    
    // MAIN CONT
    .main-cont-index{
        width: 100%;
        height: auto;
        margin:0;
        z-index: 100;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .user-cont{
            display: inline-flex;
            flex-flow: row wrap;
            background-color: $white;
            margin: auto;
            max-width: 86%;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;

            li{
                list-style: none;

                .crds{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    
                    .selectuser{
                        border: none;
                        background-color: $white;
                        outline-style: none;
                        
                        .crds2{
                            border: $light-gray-color solid 1px;
                            height: 252px;
                            width: 252px;
                            border-radius: 8px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 10px;

                            .im-con{
                                background-color: $white;
                                height: 100px;
                                width: 100px;
                                overflow: hidden;
                                border-radius: 50%;
                                margin-bottom:30px;

                                .ann-img{
                                    height:100%;
                                    width:100%;
                                    object-fit: cover;
                                }
                            }

                            .p-con{
                                height: auto;

                                #usr{
                                    padding: 0;
                                    margin: 0;
                                    font-size: 14px;
                                    text-transform: capitalize;
                                    color: $dark-gray;
                                }

                                #ps{
                                    padding: 0;
                                    margin: 0;
                                    font-size: 12px;
                                    text-transform: capitalize;
                                    color: $light-gray-color;
                                }
                            }  
                        }

                        // FOR CARDS HOVER
                        .crds2:hover{
                            background-color: $hover-gray-color;
                            transition: 0.3s;
                        }
                        // END/FOR CARDS HOVER

                    }

                    .selectuser-onwork{
                        border: none;
                        background-color: $white;
                        outline-style: none;
                        
                        .crds2{
                            border: $light-gray-color solid 1px;
                            background-color: $green;
                            height: 252px;
                            width: 252px;
                            border-radius: 8px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 10px;

                            .im-con{
                                background-color: $white;
                                height: 100px;
                                width: 100px;
                                overflow: hidden;
                                border-radius: 50%;
                                margin-bottom:30px;

                                .ann-img{
                                    height:100%;
                                    width:100%;
                                    object-fit: cover;
                                }
                            }

                            .p-con{
                                height: auto;

                                #usr{
                                    padding: 0;
                                    margin: 0;
                                    font-size: 14px;
                                    text-transform: capitalize;
                                    color: $dark-gray;
                                }

                                #ps{
                                    padding: 0;
                                    margin: 0;
                                    font-size: 12px;
                                    text-transform: capitalize;
                                    color: $light-gray-color;
                                }

                                #stat{
                                    padding: 0;
                                    margin: 0;
                                    font-size: 12px;
                                    text-transform: capitalize;
                                    color: $light-gray-color;
                                }
                            }  
                        }

                        // FOR CARDS HOVER
                        .crds2:hover{
                            background-color: $hover-green;
                            transition: 0.3s;
                        }
                        // END/FOR CARDS HOVER

                    }
                    
                }
            }
        } 
    }
}

//END/MAIN CONT
// ---------------------------------END/INDEX PAGE--------------------------------



// ---------------------------------LOGIN PAGE--------------------------------
//BODY
body{
    overflow-x: hidden;

    //SIDENAV-ICON FOR LOGIN
    .icon-bar-back {
        position: fixed;
        margin-top: 20px;
        z-index: 2;

        a {
            position: relative;
            left: -50px;
            width: 120px;
            transition: 0.3s;
            height: auto;
            background-color: $sidenav-gray-color;
            opacity: 0.8;
            border: $white solid 1px;
            display: block;
            text-align: left;
            text-decoration: none;
            transition: all 0.3s ease;
            color: $white;
            font-size: 30px;
            cursor: pointer;
            padding: 5px;
    
            #bck{
                margin-right: 20px;
                font-size: 15px;
                display: inline-block;
            }
        }
    }
    //SIDENAV-ICON FOR LOGIN
    
    .icon-bar-back a:hover {
        background-color: $kestrel-red;
        left: 0;
    }

    .sidenav a:hover {
        color: $white;
    }

    //FOR CLOCK AND DATE
    .clockdate-wrapper-login {
        padding-top: 20px;
        padding-right: 20px;
        position: absolute;
        z-index: 0;
        width:100%;
        text-align:right;

        //CLOCK
        #clock{
            font-size:30px;
            text-shadow:0px 0px 1px $white;
            color: $dark-red;
        }
    
        #clock span {
            font-size:30px;
        }
        //END/CLOCK
    
        //DATE
        #date {
            font-size:15px;
            color: $dark-red;
        }
        //END/DATE
    }
    //END/FOR CLOCK AND DATE

    //FOR LOGO
    .logo-login{
        text-align: center;

        img{
            margin-top:20px; 
            margin-bottom: 23px;
            height: 100px;
            width: 300px;
        } 
    }
    //END/FOR LOGO

    // MAIN CONTAINER
    .main-container{
      
        //FOR MOD-BODY
        .modal-body{
            position: relative;
            width: 100%;
            box-shadow: none;
            margin-top: 0%;
            margin-bottom: 0%;
            justify-content: center;
            align-items: center;
            text-align: center;
            
            //FOR CONT
            .conts{

                .im-con{
                    background-color: $white;
                    height: 150px;
                    width: 150px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin-bottom:30px;
                    margin-left: auto;
                    margin-right: auto;

                    .usr-img{
                        height:120%;
                        width:100%;
                        object-fit: cover;
                    }
                }

                .usr-p-con{
                    height: auto;
                    
                    #usrname{
                        padding: 0;
                        margin: 0;
                        font-size: 14px;
                        color: $dark-gray; 
                    }

                    #comp_pos{
                        padding: 0;
                        margin: 0;
                        font-size: 14px;
                        color: $light-gray-color; 
                    }
                }

                .login_but{
                    display:inline-block;
                    position:relative;
                    background-color: $white;
                    cursor:pointer;
                    border: $light-gray-color solid 1px;
                    z-index:0;
                    color: $dark-gray;
                    border-radius: 0%;
                    text-align: center;
                    width: 100%;
                    margin-top: 30px;
                }
            
                
                // .login_but:before {
                //     content: "";
                //     position: absolute;
                //     z-index:-1;
                //     top: 0;  left: 0;  right: 0;  bottom: 0;
                //     background-color: $kestrel-red;
                //     transform: scaleX(0);
                //     transform-origin: 0 50%;
                //     transition: transform .5s ease-out;
                    
                // }

                // .login_but:hover:before{
                //     transform: scaleX(1);
                // }
                
                .login_but:hover{
                    color: $white;
                    transition: 0.3s;
                    background-color: $kestrel-red;
                }

                .content_but{
                    margin-top: 30px;
                    width: 100%;
                    text-align: center;
                }

                //FOR CONTENT OF FIELD
                .content{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    height: 10vh;

                    .lck{
                        margin-top: 61px;
                        text-align: left;
                        z-index: 2;
                    
                        .lck_icon{
                            font-size: 20px;
                            color:  $dark-gray;
                        } 
                    }
                    
                    //FOR FIELD
                    .fld{
                        width: 500px;
                        height: 50px;
                    
                        .input {
                            position: relative;
                            z-index: 2;
                            display: inline-block;
                            width: calc(70% - 2em);
                            vertical-align: top;
                        }
                    
                        .input__field {
                            position: relative;
                            display: block;
                            float: right;
                            padding: 2px;
                            width: 150%;
                            border: none;
                            border-radius: 0;
                            font-size: 20px;
                            -webkit-appearance: none; /* for box shadows to show on iOS */
                        
                        }
                    
                        .input__field:focus {
                            outline: none;
                        }
                    
                        .input--hoshi {
                            overflow: hidden;  
                        }
                    
                        .input__field--hoshi {
                            margin-top: 1em;
                            padding: 0.85em 0.10em;
                            width: 100%;
                            background: transparent;
                            color: $dark-gray;;
                            margin-bottom: 0;
                            padding-left: 24px;
                        }
                    
                        .input__label--hoshi {
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: calc(135% - 1em);
                            text-align: left;
                            pointer-events: none;
                            z-index: 2;
                        }
                    
                        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: $light-gray-color;
                            opacity: 1; /* Firefox */
                        }
                    
                        :-ms-input-placeholder { /* Internet Explorer 10-11 */
                            color: $light-gray-color;
                        }
                        
                        ::-ms-input-placeholder { /* Microsoft Edge */
                            color: $light-gray-color;
                        }
                    
                    
                        .input__label--hoshi::before,
                        .input__label--hoshi::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: calc(100% - 10px);
                            border-bottom: 1px solid $light-gray-color
                        }
                    
                        .input__label--hoshi::after {
                            // margin-top: 2px;
                            border-bottom: 4px solid;
                            -webkit-transform: translate3d(-100%, 0, 0);
                            transform: translate3d(-100%, 0, 0);
                            -webkit-transition: -webkit-transform 0.3s;
                            transition: transform 0.3s;
                        }
                        
                        .input__label--hoshi-color-1::after {
                            border-bottom: 1.5px solid  $dark-red;
                        }
                    
                        .input__field--hoshi:focus + .input__label--hoshi::after,
                        .input--filled .input__label--hoshi::after {
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }
                    
                        .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
                        .input--filled .input__label-content--hoshi {
                            -webkit-animation: anim-1 0.3s forwards;
                            animation: anim-1 0.3s forwards;
                        }
                    
                        @-webkit-keyframes anim-1 {
                            50% {
                                opacity: 0;
                                -webkit-transform: translate3d(1em, 0, 0);
                                transform: translate3d(1em, 0, 0);
                            }
                            51% {
                                opacity: 0;
                                -webkit-transform: translate3d(-1em, -40%, 0);
                                transform: translate3d(-1em, -40%, 0);
                            }
                            100% {
                                opacity: 1;
                                -webkit-transform: translate3d(0, -40%, 0);
                                transform: translate3d(0, -40%, 0);
                            }
                        }
                    
                        @keyframes anim-1 {
                            50% {
                                opacity: 0;
                                -webkit-transform: translate3d(1em, 0, 0);
                                transform: translate3d(1em, 0, 0);
                            }
                            51% {
                                opacity: 0;
                                -webkit-transform: translate3d(-1em, -40%, 0);
                                transform: translate3d(-1em, -40%, 0);
                            }
                            100% {
                                opacity: 1;
                                -webkit-transform: translate3d(0, -40%, 0);
                                transform: translate3d(0, -40%, 0);
                            }
                        }
                    
                    }
                    //END/FOR FIELD
                }
                //END/FOR CONTENT
            }
            //END/FOR CONTS
        }
        // END/FOR MODAL BODY
    }
    //END/FOR MAIN CONTAINER

    .footer-index {
        margin-top: 94px;
        margin-bottom: 10px;
        left: 0;
        width: 100%;
        color: $light-gray-color;
        text-align: center;
        // position: fixed;
        // bottom:0;
       
     }

     
    .footer-login {
        margin-top: 70px;
        margin-bottom: 10px;
        left: 0;
        width: 100%;
        color: $light-gray-color;
        text-align: center;
        position: fixed;
        bottom:0;
     }

}




//END/FOR BODY
// ---------------------------------END/LOGIN PAGE--------------------------------






  