.logo {
  text-align: center; }
  .logo img {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 100px;
    width: 300px; }

.icon-bar-admin {
  position: fixed;
  margin-top: 20px;
  z-index: 2; }
  .icon-bar-admin a {
    position: relative;
    left: -70px;
    width: 150px;
    transition: 0.3s;
    height: auto;
    background-color: black;
    opacity: 0.8;
    border: white solid 1px;
    display: block;
    text-align: left;
    text-decoration: none;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 5px; }
    .icon-bar-admin a #so {
      margin-right: 30px;
      font-size: 15px;
      display: inline-block; }
    .icon-bar-admin a #ho {
      margin-right: 50px;
      font-size: 15px;
      display: inline-block; }

.icon-bar-admin a:hover {
  background-color: #DD2018;
  left: 0; }

.main-row {
  width: 100%;
  height: auto;
  margin: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .main-row .user-img {
    display: inline-flex;
    flex-flow: row wrap;
    background-color: white;
    margin: auto;
    max-width: 83%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
    .main-row .user-img .crds {
      display: block;
      margin-left: auto;
      margin-right: auto; }
      .main-row .user-img .crds .selectuser {
        border: none;
        background-color: white;
        outline-style: none; }
        .main-row .user-img .crds .selectuser .crds2 {
          border: #1e1e1e1f solid 1px;
          height: 252px;
          width: 252px;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-bottom: 10px; }
          .main-row .user-img .crds .selectuser .crds2 .im-con {
            height: 100px;
            width: 100px;
            overflow: hidden;
            border-radius: 50%;
            margin-bottom: 30px; }
            .main-row .user-img .crds .selectuser .crds2 .im-con .ann-img {
              height: 100%;
              width: 100%;
              object-fit: cover; }
          .main-row .user-img .crds .selectuser .crds2 .addim-con {
            height: 100px;
            width: 100px;
            overflow: hidden;
            margin-bottom: 30px; }
            .main-row .user-img .crds .selectuser .crds2 .addim-con .user {
              height: 100%;
              width: 100%;
              object-fit: cover;
              font-size: 90px;
              color: black; }
          .main-row .user-img .crds .selectuser .crds2 .p-con {
            height: auto; }
            .main-row .user-img .crds .selectuser .crds2 .p-con #usr {
              padding: 0;
              margin: 0;
              font-size: 14px;
              text-transform: capitalize;
              color: #0c0c0c; }
            .main-row .user-img .crds .selectuser .crds2 .p-con #ps {
              padding: 0;
              margin: 0;
              font-size: 12px;
              text-transform: capitalize;
              color: #aaaaaa; }
        .main-row .user-img .crds .selectuser .crds2:hover {
          background-color: #1e1e1e28;
          transition: 0.2s; }
  .main-row .rem-box {
    padding: 0;
    background-color: #2c2b2b;
    height: auto;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px; }
    .main-row .rem-box .reminder #rem {
      color: #eceef1;
      font-size: 200%; }
  .main-row h5 {
    font-size: 40px;
    float: left; }

.sign-up-modal {
  width: 100%;
  margin: 0%; }
  .sign-up-modal .modal-content {
    padding: 0%;
    border: none;
    box-shadow: none; }

/*# sourceMappingURL=admin.css.map */
