body {
  overflow-x: hidden; }
  body .search {
    margin-left: 135px; }
    body .search .fld2 {
      width: 340px;
      height: 50px;
      /* Individual styles */
      /* Hoshi */ }
      body .search .fld2 .input {
        position: relative;
        z-index: 2;
        display: inline-block;
        width: calc(89% - 2em);
        vertical-align: top; }
        body .search .fld2 .input .lck {
          margin-top: 11px;
          text-align: left;
          z-index: 2; }
          body .search .fld2 .input .lck .lck_icon {
            font-size: 20px;
            color: #1e1e1e; }
      body .search .fld2 .input__field {
        position: relative;
        display: block;
        float: right;
        padding: 2px;
        width: 150%;
        border: none;
        border-radius: 0;
        font-size: 20px;
        -webkit-appearance: none;
        /* for box shadows to show on iOS */ }
      body .search .fld2 .input__field:focus {
        outline: none; }
      body .search .fld2 .input--hoshi {
        overflow: hidden; }
      body .search .fld2 .input__field--hoshi {
        padding: 1px 0px 15px 0px;
        width: 100%;
        background: transparent;
        color: #1e1e1e;
        margin-bottom: 0;
        padding-left: 24px; }
      body .search .fld2 .input__label--hoshi {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(135% - 1em);
        text-align: left;
        pointer-events: none;
        z-index: 2; }
      body .search .fld2 ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(30, 30, 30, 0.3);
        opacity: 1;
        /* Firefox */ }
      body .search .fld2 :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgba(30, 30, 30, 0.3); }
      body .search .fld2 ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgba(30, 30, 30, 0.3); }
      body .search .fld2 .input__label--hoshi::before,
      body .search .fld2 .input__label--hoshi::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 10px);
        border-bottom: 1px solid rgba(30, 30, 30, 0.3); }
      body .search .fld2 .input__label--hoshi::after {
        border-bottom: 4px solid;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s; }
      body .search .fld2 .input__label--hoshi-color-1::after {
        border-bottom: 1.5px solid #4d0900; }
      body .search .fld2 .input__field--hoshi:focus + .input__label--hoshi::after,
      body .search .fld2 .input--filled .input__label--hoshi::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      body .search .fld2 .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
      body .search .fld2 .input--filled .input__label-content--hoshi {
        -webkit-animation: anim-1 0.3s forwards;
        animation: anim-1 0.3s forwards; }
@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
  body .icon-bar {
    position: fixed;
    margin-top: 20px;
    z-index: 2; }
    body .icon-bar a {
      position: relative;
      left: -150px;
      width: 230px;
      transition: 0.3s;
      height: auto;
      background-color: black;
      opacity: 0.8;
      border: white solid 1px;
      display: block;
      text-align: left;
      text-decoration: none;
      transition: all 0.3s ease;
      color: white;
      font-size: 30px;
      cursor: pointer;
      padding: 5px; }
      body .icon-bar a #announcement-nav {
        margin-right: 30px;
        font-size: 15px;
        display: inline-block; }
  body .icon-bar a:hover {
    background-color: #D9231E;
    left: 0; }
  body .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; }
    body .sidenav .ann-card {
      min-height: 10vh;
      height: auto;
      width: 105%;
      background: white;
      border-bottom: rgba(30, 30, 30, 0.3) solid 1px;
      margin-bottom: 1%;
      padding: 3%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      body .sidenav .ann-card .u-cont {
        display: inline-block; }
        body .sidenav .ann-card .u-cont .im-con {
          background-color: white;
          height: 70px;
          width: 70px;
          overflow: hidden;
          border-radius: 50%; }
          body .sidenav .ann-card .u-cont .im-con .ann-img {
            height: 100%;
            width: 100%;
            object-fit: cover; }
      body .sidenav .ann-card #ann_name {
        padding: 10px 10px;
        font-size: 20px;
        color: rgba(30, 30, 30, 0.7); }
      body .sidenav .ann-card .a-cont {
        text-align: left;
        width: 100%; }
        body .sidenav .ann-card .a-cont #ann_msg {
          margin: 0;
          font-size: 16px;
          color: #1e1e1e;
          word-wrap: break-word; }
        body .sidenav .ann-card .a-cont #ann_date {
          margin: 0;
          font-size: 10px;
          word-wrap: break-word;
          float: right;
          margin-top: 5px;
          color: rgba(30, 30, 30, 0.7); }
    body .sidenav .closebtn {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      display: block;
      transition: 0.3s;
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      color: rgba(30, 30, 30, 0.3); }
    body .sidenav .closebtn:hover {
      color: #1e1e1e; }
  body #overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1e1e1e;
    opacity: 0.8;
    z-index: 2;
    cursor: pointer;
    transition: 0.5s; }
  body .clockdate-wrapper {
    padding-top: 20px;
    padding-right: 20px;
    position: absolute;
    z-index: -1;
    width: 100%;
    text-align: right; }
    body .clockdate-wrapper #clock {
      font-family: sans-serif;
      font-size: 30px;
      text-shadow: 0px 0px 1px white;
      color: #4d0900; }
    body .clockdate-wrapper #clock span {
      font-size: 30px; }
    body .clockdate-wrapper #date {
      font-size: 15px;
      font-family: arial,sans-serif;
      color: #4d0900; }
  body .logo {
    text-align: center; }
    body .logo img {
      margin-top: 20px;
      margin-bottom: 50px;
      height: 100px;
      width: 300px; }
  body .main-cont-index {
    width: 100%;
    height: auto;
    margin: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    body .main-cont-index .user-cont {
      display: inline-flex;
      flex-flow: row wrap;
      background-color: white;
      margin: auto;
      max-width: 86%;
      justify-content: center;
      display: flex;
      flex-wrap: wrap; }
      body .main-cont-index .user-cont li {
        list-style: none; }
        body .main-cont-index .user-cont li .crds {
          display: block;
          margin-left: auto;
          margin-right: auto; }
          body .main-cont-index .user-cont li .crds .selectuser {
            border: none;
            background-color: white;
            outline-style: none; }
            body .main-cont-index .user-cont li .crds .selectuser .crds2 {
              border: rgba(30, 30, 30, 0.3) solid 1px;
              height: 252px;
              width: 252px;
              border-radius: 8px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-bottom: 10px; }
              body .main-cont-index .user-cont li .crds .selectuser .crds2 .im-con {
                background-color: white;
                height: 100px;
                width: 100px;
                overflow: hidden;
                border-radius: 50%;
                margin-bottom: 30px; }
                body .main-cont-index .user-cont li .crds .selectuser .crds2 .im-con .ann-img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover; }
              body .main-cont-index .user-cont li .crds .selectuser .crds2 .p-con {
                height: auto; }
                body .main-cont-index .user-cont li .crds .selectuser .crds2 .p-con #usr {
                  padding: 0;
                  margin: 0;
                  font-size: 14px;
                  text-transform: capitalize;
                  color: #1e1e1e; }
                body .main-cont-index .user-cont li .crds .selectuser .crds2 .p-con #ps {
                  padding: 0;
                  margin: 0;
                  font-size: 12px;
                  text-transform: capitalize;
                  color: rgba(30, 30, 30, 0.3); }
            body .main-cont-index .user-cont li .crds .selectuser .crds2:hover {
              background-color: rgba(30, 30, 30, 0.1);
              transition: 0.3s; }
          body .main-cont-index .user-cont li .crds .selectuser-onwork {
            border: none;
            background-color: white;
            outline-style: none; }
            body .main-cont-index .user-cont li .crds .selectuser-onwork .crds2 {
              border: rgba(30, 30, 30, 0.3) solid 1px;
              background-color: #c7eee7;
              height: 252px;
              width: 252px;
              border-radius: 8px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-bottom: 10px; }
              body .main-cont-index .user-cont li .crds .selectuser-onwork .crds2 .im-con {
                background-color: white;
                height: 100px;
                width: 100px;
                overflow: hidden;
                border-radius: 50%;
                margin-bottom: 30px; }
                body .main-cont-index .user-cont li .crds .selectuser-onwork .crds2 .im-con .ann-img {
                  height: 100%;
                  width: 100%;
                  object-fit: cover; }
              body .main-cont-index .user-cont li .crds .selectuser-onwork .crds2 .p-con {
                height: auto; }
                body .main-cont-index .user-cont li .crds .selectuser-onwork .crds2 .p-con #usr {
                  padding: 0;
                  margin: 0;
                  font-size: 14px;
                  text-transform: capitalize;
                  color: #1e1e1e; }
                body .main-cont-index .user-cont li .crds .selectuser-onwork .crds2 .p-con #ps {
                  padding: 0;
                  margin: 0;
                  font-size: 12px;
                  text-transform: capitalize;
                  color: rgba(30, 30, 30, 0.3); }
                body .main-cont-index .user-cont li .crds .selectuser-onwork .crds2 .p-con #stat {
                  padding: 0;
                  margin: 0;
                  font-size: 12px;
                  text-transform: capitalize;
                  color: rgba(30, 30, 30, 0.3); }
            body .main-cont-index .user-cont li .crds .selectuser-onwork .crds2:hover {
              background-color: #aef0e4;
              transition: 0.3s; }

body {
  overflow-x: hidden; }
  body .icon-bar-back {
    position: fixed;
    margin-top: 20px;
    z-index: 2; }
    body .icon-bar-back a {
      position: relative;
      left: -50px;
      width: 120px;
      transition: 0.3s;
      height: auto;
      background-color: black;
      opacity: 0.8;
      border: white solid 1px;
      display: block;
      text-align: left;
      text-decoration: none;
      transition: all 0.3s ease;
      color: white;
      font-size: 30px;
      cursor: pointer;
      padding: 5px; }
      body .icon-bar-back a #bck {
        margin-right: 20px;
        font-size: 15px;
        display: inline-block; }
  body .icon-bar-back a:hover {
    background-color: #D9231E;
    left: 0; }
  body .sidenav a:hover {
    color: white; }
  body .clockdate-wrapper-login {
    padding-top: 20px;
    padding-right: 20px;
    position: absolute;
    z-index: 0;
    width: 100%;
    text-align: right; }
    body .clockdate-wrapper-login #clock {
      font-size: 30px;
      text-shadow: 0px 0px 1px white;
      color: #4d0900; }
    body .clockdate-wrapper-login #clock span {
      font-size: 30px; }
    body .clockdate-wrapper-login #date {
      font-size: 15px;
      color: #4d0900; }
  body .logo-login {
    text-align: center; }
    body .logo-login img {
      margin-top: 20px;
      margin-bottom: 23px;
      height: 100px;
      width: 300px; }
  body .main-container .modal-body {
    position: relative;
    width: 100%;
    box-shadow: none;
    margin-top: 0%;
    margin-bottom: 0%;
    justify-content: center;
    align-items: center;
    text-align: center; }
    body .main-container .modal-body .conts .im-con {
      background-color: white;
      height: 150px;
      width: 150px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto; }
      body .main-container .modal-body .conts .im-con .usr-img {
        height: 120%;
        width: 100%;
        object-fit: cover; }
    body .main-container .modal-body .conts .usr-p-con {
      height: auto; }
      body .main-container .modal-body .conts .usr-p-con #usrname {
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: #1e1e1e; }
      body .main-container .modal-body .conts .usr-p-con #comp_pos {
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: rgba(30, 30, 30, 0.3); }
    body .main-container .modal-body .conts .login_but {
      display: inline-block;
      position: relative;
      background-color: white;
      cursor: pointer;
      border: rgba(30, 30, 30, 0.3) solid 1px;
      z-index: 0;
      color: #1e1e1e;
      border-radius: 0%;
      text-align: center;
      width: 100%;
      margin-top: 30px; }
    body .main-container .modal-body .conts .login_but:hover {
      color: white;
      transition: 0.3s;
      background-color: #D9231E; }
    body .main-container .modal-body .conts .content_but {
      margin-top: 30px;
      width: 100%;
      text-align: center; }
    body .main-container .modal-body .conts .content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 10vh; }
      body .main-container .modal-body .conts .content .lck {
        margin-top: 61px;
        text-align: left;
        z-index: 2; }
        body .main-container .modal-body .conts .content .lck .lck_icon {
          font-size: 20px;
          color: #1e1e1e; }
      body .main-container .modal-body .conts .content .fld {
        width: 500px;
        height: 50px; }
        body .main-container .modal-body .conts .content .fld .input {
          position: relative;
          z-index: 2;
          display: inline-block;
          width: calc(70% - 2em);
          vertical-align: top; }
        body .main-container .modal-body .conts .content .fld .input__field {
          position: relative;
          display: block;
          float: right;
          padding: 2px;
          width: 150%;
          border: none;
          border-radius: 0;
          font-size: 20px;
          -webkit-appearance: none;
          /* for box shadows to show on iOS */ }
        body .main-container .modal-body .conts .content .fld .input__field:focus {
          outline: none; }
        body .main-container .modal-body .conts .content .fld .input--hoshi {
          overflow: hidden; }
        body .main-container .modal-body .conts .content .fld .input__field--hoshi {
          margin-top: 1em;
          padding: 0.85em 0.10em;
          width: 100%;
          background: transparent;
          color: #1e1e1e;
          margin-bottom: 0;
          padding-left: 24px; }
        body .main-container .modal-body .conts .content .fld .input__label--hoshi {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: calc(135% - 1em);
          text-align: left;
          pointer-events: none;
          z-index: 2; }
        body .main-container .modal-body .conts .content .fld ::placeholder {
          /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: rgba(30, 30, 30, 0.3);
          opacity: 1;
          /* Firefox */ }
        body .main-container .modal-body .conts .content .fld :-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: rgba(30, 30, 30, 0.3); }
        body .main-container .modal-body .conts .content .fld ::-ms-input-placeholder {
          /* Microsoft Edge */
          color: rgba(30, 30, 30, 0.3); }
        body .main-container .modal-body .conts .content .fld .input__label--hoshi::before,
        body .main-container .modal-body .conts .content .fld .input__label--hoshi::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: calc(100% - 10px);
          border-bottom: 1px solid rgba(30, 30, 30, 0.3); }
        body .main-container .modal-body .conts .content .fld .input__label--hoshi::after {
          border-bottom: 4px solid;
          -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
          -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s; }
        body .main-container .modal-body .conts .content .fld .input__label--hoshi-color-1::after {
          border-bottom: 1.5px solid #4d0900; }
        body .main-container .modal-body .conts .content .fld .input__field--hoshi:focus + .input__label--hoshi::after,
        body .main-container .modal-body .conts .content .fld .input--filled .input__label--hoshi::after {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
        body .main-container .modal-body .conts .content .fld .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
        body .main-container .modal-body .conts .content .fld .input--filled .input__label-content--hoshi {
          -webkit-animation: anim-1 0.3s forwards;
          animation: anim-1 0.3s forwards; }
@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
  body .footer-index {
    margin-top: 94px;
    margin-bottom: 10px;
    left: 0;
    width: 100%;
    color: rgba(30, 30, 30, 0.3);
    text-align: center; }
  body .footer-login {
    margin-top: 70px;
    margin-bottom: 10px;
    left: 0;
    width: 100%;
    color: rgba(30, 30, 30, 0.3);
    text-align: center;
    position: fixed;
    bottom: 0; }

/*# sourceMappingURL=index.css.map */
