.but-dlt-ann {
  background-color: white;
  color: #1e1e1e;
  border: rgba(30, 30, 30, 0.3) solid 1px;
  border-radius: 0%;
  text-align: center;
  font-size: 15px;
  width: 103px;
  z-index: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 6px; }

.but-dlt-ann:hover {
  color: white;
  transition: 0.4s;
  background-color: #D9231E; }

.warning {
  color: #D9231E; }

body {
  overflow-x: hidden; }

.choice {
  width: 100%;
  text-align: center; }
  .choice .form-but {
    background-color: white;
    color: #1e1e1e;
    border-bottom: rgba(30, 30, 30, 0.3) solid 1px !important;
    border-top: rgba(30, 30, 30, 0.3) solid 1px !important;
    border: none;
    border-radius: 0%;
    text-align: center;
    font-size: 15px;
    width: 184px;
    z-index: 0;
    display: inline-block;
    cursor: pointer;
    margin: 10px 0px 10px 0px;
    outline: 0; }
  .choice .form-but:hover {
    color: white;
    transition: 0.4s;
    background-color: #D9231E; }

.clockdate-wrapper {
  padding-top: 20px;
  padding-right: 20px;
  position: absolute;
  z-index: -1;
  width: 100%;
  text-align: right; }
  .clockdate-wrapper #clock {
    font-size: 30px;
    text-shadow: 0px 0px 1px white;
    color: #4d0900; }
  .clockdate-wrapper #clock span {
    font-size: 30px; }
  .clockdate-wrapper #date {
    font-size: 15px;
    font-family: arial,sans-serif;
    color: #4d0900; }
  .clockdate-wrapper h6 {
    color: #D9231E; }

.logo-ann {
  text-align: center; }
  .logo-ann img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    width: 300px; }

.icon-bar-ann {
  position: fixed;
  margin-top: 20px;
  z-index: 2; }
  .icon-bar-ann a {
    position: relative;
    left: -81px;
    width: 153px;
    transition: 0.3s;
    height: auto;
    background-color: black;
    opacity: 0.8;
    border: white solid 1px;
    display: block;
    text-align: left;
    text-decoration: none;
    transition: all 0.3s ease;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 5px; }
    .icon-bar-ann a #bck-ann {
      margin-right: 52px;
      font-size: 15px;
      display: inline-block; }
    .icon-bar-ann a #lgout-ann {
      margin-right: 30px;
      font-size: 15px;
      display: inline-block; }

.icon-bar-ann a:hover {
  background-color: #D9231E;
  left: 0; }

.container {
  width: 90%; }
  .container .content {
    display: flex;
    flex-direction: row;
    width: 80%; }
    .container .content .btn-filter {
      background-color: white;
      color: #1e1e1e;
      border-bottom: rgba(30, 30, 30, 0.3) solid 1px !important;
      border: none;
      border-radius: 0%;
      text-align: center;
      font-size: 15px;
      z-index: 0;
      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 33px;
      outline: none;
      width: 120px;
      margin: 0px 29px 0px 20px; }
    .container .content .btn-filter:hover {
      color: white;
      transition: 0.4s;
      background-color: #D9231E; }
    .container .content .btn-refresh {
      background-color: white;
      color: #1e1e1e;
      border: none;
      border-radius: 0%;
      text-align: center;
      font-size: 15px;
      z-index: 0;
      display: inline-block;
      position: relative;
      cursor: pointer;
      height: 33px;
      outline: none; }
    .container .content .btn-refresh:hover {
      color: #D9231E;
      transition: 0.4s; }
    .container .content .fld {
      width: 300px;
      height: 50px; }
      .container .content .fld .input {
        position: relative;
        z-index: 2;
        display: inline-block;
        width: calc(109% - 2em);
        vertical-align: top;
        padding-left: 24px; }
      .container .content .fld .input__field {
        position: relative;
        display: block;
        float: right;
        padding: 2px;
        width: 150%;
        border: none;
        border-radius: 0;
        font-size: 20px;
        -webkit-appearance: none;
        /* for box shadows to show on iOS */ }
      .container .content .fld .input__field:focus {
        outline: none; }
      .container .content .fld .ann-icon {
        text-align: left;
        z-index: 2; }
        .container .content .fld .ann-icon .ann-icon-fafa {
          font-size: 20px;
          color: #1e1e1e;
          margin-top: 13px;
          margin-left: 3px; }
      .container .content .fld .input--hoshi {
        overflow: hidden; }
      .container .content .fld .input__field--hoshi {
        padding: 0px 0px 20px 6px;
        width: 100%;
        background: transparent;
        color: #1e1e1e; }
      .container .content .fld .input__label--hoshi {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(145% - 1em);
        text-align: left;
        pointer-events: none;
        z-index: 2; }
      .container .content .fld ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(30, 30, 30, 0.3);
        opacity: 1;
        /* Firefox */ }
      .container .content .fld :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: rgba(30, 30, 30, 0.3); }
      .container .content .fld ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: rgba(30, 30, 30, 0.3); }
      .container .content .fld .input__label--hoshi::before,
      .container .content .fld .input__label--hoshi::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 10px);
        border-bottom: 1px solid rgba(30, 30, 30, 0.3); }
      .container .content .fld .input__label--hoshi::after {
        border-bottom: 4px solid;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s; }
      .container .content .fld .input__label--hoshi-color-1::after {
        border-bottom: 1.5px solid #4d0900; }
      .container .content .fld .input__field--hoshi:focus + .input__label--hoshi::after,
      .container .content .fld .input--filled .input__label--hoshi::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      .container .content .fld .input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
      .container .content .fld .input--filled .input__label-content--hoshi {
        -webkit-animation: anim-1 0.3s forwards;
        animation: anim-1 0.3s forwards; }
@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }
  .container .container-table {
    overflow-y: scroll;
    max-height: 259px; }
    .container .container-table .table-one {
      table-layout: fixed;
      border-collapse: collapse; }
      .container .container-table .table-one .thead-one .th-one {
        border: 1px solid rgba(30, 30, 30, 0.3);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px;
        background-color: rgba(30, 30, 30, 0.3); }
      .container .container-table .table-one .thead-one .edit-delete-column-head {
        background-color: rgba(30, 30, 30, 0.3);
        border: 1px solid rgba(30, 30, 30, 0.3);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px;
        width: 100px; }
    .container .container-table table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse; }
      .container .container-table table tbody td {
        border: 1px solid white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px; }
      .container .container-table table tbody .edit-delete-column-body {
        border: 1px solid white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px;
        width: 100px; }
        .container .container-table table tbody .edit-delete-column-body #edit-row {
          color: #058a72;
          cursor: pointer; }
        .container .container-table table tbody .edit-delete-column-body #delete-row {
          color: #D9231E;
          cursor: pointer; }

.ann-contents {
  width: 100%; }
  .ann-contents .ann {
    height: 18vh;
    margin-bottom: 10px; }
  .ann-contents .ann:hover {
    border: #4d0900 solid 1px; }
  .ann-contents .ann:focus {
    border: #4d0900 solid 1px; }
  .ann-contents .but-update-ann {
    background-color: white;
    color: #1e1e1e;
    border: rgba(30, 30, 30, 0.3) solid 1px;
    border-radius: 0%;
    text-align: center;
    font-size: 15px;
    width: 103px;
    z-index: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-left: 6px; }
    .ann-contents .but-update-ann i {
      margin-right: 3px; }
  .ann-contents .but-update-ann:hover {
    color: white;
    transition: 0.4s;
    background-color: #D9231E; }

.footer-read {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(30, 30, 30, 0.3);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; }

.footer-edit {
  margin-top: 115px;
  margin-bottom: 10px;
  left: 0;
  width: 100%;
  color: rgba(30, 30, 30, 0.3);
  text-align: center;
  position: fixed; }

.footer-show {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(30, 30, 30, 0.3);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; }

/*# sourceMappingURL=reminders.css.map */
