body .clockdate-wrapper {
  padding-top: 20px;
  padding-right: 20px;
  position: fixed;
  z-index: -1;
  width: 100%;
  text-align: right; }
  body .clockdate-wrapper #clock {
    background-color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
    text-shadow: 0px 0px 1px #fff;
    color: #050404; }
  body .clockdate-wrapper #clock span {
    color: #888;
    text-shadow: 0px 0px 1px;
    font-size: 30px; }
  body .clockdate-wrapper #date {
    font-size: 13px;
    font-family: arial,sans-serif;
    color: #050404; }
body .icon-bar {
  position: fixed;
  margin-top: 20px;
  z-index: 2; }
  body .icon-bar a {
    position: relative;
    left: -100px;
    width: 180px;
    transition: 0.3s;
    height: auto;
    background-color: black;
    opacity: 0.8;
    border: #ffffff solid 1px;
    display: block;
    text-align: left;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    padding: 5px; }
    body .icon-bar a #so {
      margin-right: 50px;
      font-size: 15px;
      display: inline-block; }
    body .icon-bar a #pr {
      margin-right: 50px;
      font-size: 15px;
      display: inline-block; }
body .icon-bar a:hover {
  background-color: #DD2018;
  left: 0; }
body .active {
  background-color: #DD2018 !important; }
body .logo {
  text-align: center; }
  body .logo img {
    z-index: 2;
    margin-top: 20px;
    height: 100px;
    width: 300px; }
body .user-cont {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  box-shadow: none;
  margin-top: 0%;
  margin-bottom: 0%;
  justify-content: center;
  align-items: center;
  text-align: center; }
  body .user-cont .clock-cont {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body .user-cont .clock-cont .im-con {
      background-color: black;
      height: 142px;
      width: 144px;
      overflow: hidden;
      border-radius: 50%;
      margin-bottom: 30px; }
      body .user-cont .clock-cont .im-con .ann-img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
    body .user-cont .clock-cont .p-con {
      height: auto;
      margin-bottom: 30px; }
      body .user-cont .clock-cont .p-con #usr {
        padding: 0;
        margin: 0;
        font-size: 14px;
        text-transform: capitalize;
        color: #0c0c0c; }
      body .user-cont .clock-cont .p-con #ps {
        padding: 0;
        margin: 0;
        font-size: 12px;
        text-transform: capitalize;
        color: #aaaaaa; }
    body .user-cont .clock-cont #status #statusdummy2 {
      background-color: white;
      border: none;
      width: 100%;
      text-align: center;
      font-size: 30px;
      box-shadow: 0; }
    body .user-cont .clock-cont .btns {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 5px; }
      body .user-cont .clock-cont .btns .btnin {
        background-color: white;
        color: #0c0c0c;
        border: #1e1e1e1f solid 1px;
        border-radius: 0%;
        text-align: center;
        font-size: 15px;
        width: 250px;
        z-index: 0;
        display: inline-block;
        position: relative;
        cursor: pointer; }
      body .user-cont .clock-cont .btns .btnin:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #DD2018;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform .5s ease-out; }
      body .user-cont .clock-cont .btns .btnin:hover:before {
        transform: scaleX(1); }
      body .user-cont .clock-cont .btns .btnin:hover {
        color: #fff;
        transition: 0.6s; }
      body .user-cont .clock-cont .btns .btnout {
        background-color: white;
        color: #0c0c0c;
        border: #1e1e1e1f solid 1px;
        border-radius: 0%;
        text-align: center;
        font-size: 15px;
        width: 250px;
        z-index: 0;
        display: inline-block;
        position: relative;
        cursor: pointer;
        display: none; }
      body .user-cont .clock-cont .btns .btnout:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #DD2018;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform .5s ease-out; }
      body .user-cont .clock-cont .btns .btnout:hover:before {
        transform: scaleX(1); }
      body .user-cont .clock-cont .btns .btnout:hover {
        color: #fff;
        transition: 0.6s; }
      body .user-cont .clock-cont .btns .m-accounts {
        background-color: white;
        color: #0c0c0c;
        border: #1e1e1e1f solid 1px;
        border-radius: 0%;
        text-align: center;
        font-size: 15px;
        width: 250px;
        z-index: 0;
        display: inline-block;
        position: relative;
        cursor: pointer; }
      body .user-cont .clock-cont .btns .m-accounts:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #DD2018;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform .5s ease-out; }
      body .user-cont .clock-cont .btns .m-accounts:hover:before {
        transform: scaleX(1); }
      body .user-cont .clock-cont .btns .m-accounts:hover {
        color: #fff;
        transition: 0.6s; }
      body .user-cont .clock-cont .btns .p-announcements {
        background-color: white;
        color: #0c0c0c;
        border: #1e1e1e1f solid 1px;
        border-radius: 0%;
        text-align: center;
        font-size: 15px;
        width: 250px;
        z-index: 0;
        display: inline-block;
        position: relative;
        cursor: pointer; }
      body .user-cont .clock-cont .btns .p-announcements:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #DD2018;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform .5s ease-out; }
      body .user-cont .clock-cont .btns .p-announcements:hover:before {
        transform: scaleX(1); }
      body .user-cont .clock-cont .btns .p-announcements:hover {
        color: #fff;
        transition: 0.6s; }

.mod-cont .mod-bod {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%; }
  .mod-cont .mod-bod .rem-post {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%; }
    .mod-cont .mod-bod .rem-post .edit-view-announcement {
      font-size: 10px;
      text-decoration: none;
      color: #1e1e1e;
      float: right;
      margin-top: 10px; }
    .mod-cont .mod-bod .rem-post .edit-view-announcement:hover {
      color: red;
      transition: 0.3s; }
    .mod-cont .mod-bod .rem-post .ann-text-field {
      width: 100%;
      height: 100px;
      margin-bottom: 5px; }
    .mod-cont .mod-bod .rem-post .ann-text-field:focus {
      border: #c70909 solid 1px; }
.mod-cont .mod-footer {
  border: none;
  width: 90%;
  padding-top: 0px; }
  .mod-cont .mod-footer .ann-but {
    background-color: white;
    color: #0c0c0c;
    border: #1e1e1e1f solid 1px;
    border-radius: 0%;
    text-align: center;
    font-size: 15px;
    width: 100px;
    z-index: 0;
    display: inline-block;
    position: relative;
    cursor: pointer; }
  .mod-cont .mod-footer .ann-but-view {
    background-color: white;
    color: #0c0c0c;
    border: #1e1e1e1f solid 1px;
    border-radius: 0%;
    text-align: center;
    font-size: 15px;
    width: 200px;
    z-index: 0;
    display: inline-block;
    position: relative;
    cursor: pointer; }
  .mod-cont .mod-footer .ann-but:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DD2018;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform .5s ease-out; }
  .mod-cont .mod-footer .ann-but:hover:before {
    transform: scaleX(1); }
  .mod-cont .mod-footer .ann-but:hover {
    color: #fff;
    transition: 0.6s; }

/*# sourceMappingURL=user.css.map */
